/**index.wxss**/

.container {
  width: 96%;
  margin-left: 2%;
  margin-bottom: 20rpx;
}
/**搜索栏**/
.search_bar {
  width: 100%;
  height: 60rpx;
  font-size: 32rpx;
  display: flex;
}
.positions {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
}

.positions image {
  width: 38rpx;
  height: 100%;
}

.search {
  width: 60%;
  height: 100%;
  padding-left: 20rpx;
  text-align: left;
  background: #f0ecec;
  color: #ccc;
  border-radius: 30rpx;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
/*食堂图标*/

.icons_items {
  width: 100%;
  height: 250rpx;
  padding: 20rpx 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background: rgb(203, 205, 207);
}

.icons_item {
  width: 30%;
  height: 80%;
  display: flex;
  flex-flow: column;
}

.icons_img {
  width: 100%;
  height: 100%;
}

/* 精选美食 */

.lists {
  width: 100%;
}

.lists_title {
  width: 100%;
  text-align: center;
  height: 80rpx;
  line-height: 80rpx;
  font-size: 36rpx;
  font-weight: 600;
}

.lists_sort {
  width: 100%;
  height: 60rpx;
  font-size: 30rpx;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sort_item {
  width: 25%;
  text-align: center;
  color: #ccc;
}

.sort_choosed {
  color: black;
}
/* 菜品列表 */

.list_dishes {
  height: 250rpx;
  padding-top: 20rpx;
  width: 100%;
  display: flex;
}

.list_item1 {
  width: 25%;
  height: 53%;
  border: 1rpx solid #ccc;
}

.list_item2 {
  width: 75%;
  height: 100%;
  padding-left: 2%;
  font-size: 26rpx;
}
.list_item3 {
  width: 100%;
  height: 40rpx;
  display: flex;
  align-items: center;
}
.dish_img {
  width: 100%;
  height: 100%;
}

.dish_name {
  font-weight: 600;
  font-size: 36rpx;
}

.dish_sale {
  width: 30%;
  text-align: center;
}
